<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Security Headers</label>
    <version>1.2.1</version>

    <author>KielCoding</author>
    <copyright>(c) KielCoding</copyright>
    <link>https://www.kielcoding.de</link>
    <license>proprietary</license>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.2.1">
        <changes>Report-Only mode config setting added.</changes>
        <changes lang="de">Konfiguration für Report-Only Modus ergänzt.</changes>
    </changelog>

    <changelog version="1.2.0">
        <changes>Custom header url bugfix and code cleanup.</changes>
        <changes lang="de">Eigene Header URL Bugfix und Code-Bereinigung.</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes>Fix event</changes>
        <changes lang="de">Fix Event</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes>Initial Release</changes>
        <changes lang="de">Erste Veröffentlichung</changes>
    </changelog>
</plugin>